Tugas Pertama Minggu Pertama

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " , panjang)
print("Lebar = " , lebar)
print("Tinggi = " , tinggi)
print("Keliing =" , keliling)
print("Volume =" , volume)

Panjang =  20.5
Lebar =  25
Tinggi =  10
Keliing = 91.0
Volume = 5125.0

Tugas Kedua Minggu Pertama

In [5]:
Nilai_Ratarata_Shafira = ( (85 + 75)/2)
print(Nilai_Ratarata_Shafira)

80.0

In [6]:
Jumlah_NilaiHanifdanAndi = ((75 + 90 + 70 + 75))
print(Jumlah_NilaiHanifdanAndi)

310

In [8]:
Nilai_Ratarata_Matakuliah_Kalkulus = ((85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80)/9)
print(Nilai_Ratarata_Matakuliah_Kalkulus)

81.11111111111111

In [9]:
Nilai_Ratarata_Matakuliah_Statistika = ((75 + 90 + 80 + 80 + 85 + 90 + 75 + 85 + 75)/9)
print(Nilai_Ratarata_Matakuliah_Statistika)

81.66666666666667

In [5]:
jam_kerja_dwi = 8
hari_kerja_agustus = 22
gaji_dwi_perjam = 30000
izin_dwi_agustus = 3
tunjangan = 0.1
lembur_agustus = 5
upah_lembur = 10000

gaji_dwi_perhari = jam_kerja_dwi * gaji_dwi_perjam
gaji_awal_dwi_agustus = gaji_dwi_perhari * hari_kerja_agustus
gaji_akhir_dwi_agustus = gaji_awal_dwi_agustus - (izin_dwi_agustus * gaji_dwi_perhari)
tunjangan_dwi = gaji_akhir_dwi_agustus * tunjangan
uang_lembur = lembur_agustus * upah_lembur
total_gaji_dwi = tunjangan_dwi + uang_lembur + gaji_akhir_dwi_agustus

print("Gaji jika tidak masuk 3 hari : Rp" , gaji_akhir_dwi_agustus)
print("Jumlah tunjangan yang diterima Dwi : Rp" , tunjangan_dwi)
print("Total gaji yang diterima Dwi bulan Agustus : Rp" , total_gaji_dwi)

Gaji jika tidak masuk 3 hari : Rp 4560000
Jumlah tunjangan yang diterima Dwi : Rp 456000.0
Total gaji yang diterima Dwi bulan Agustus : Rp 5066000.0

In [7]:
Ratarata_nilai_Widya_Dhanar_Hikma_Nedia_Matakuliah_Kalkulus = ( (85 + 85 + 80 + 95)/4)
Ratarata_nilai_Widya_Dhanar_Hikma_Nedia_Matakuliah_Statistika = ( (85 + 85 + 75 + 80)/4)
print(Ratarata_nilai_Widya_Dhanar_Hikma_Nedia_Matakuliah_Kalkulus)
print(Ratarata_nilai_Widya_Dhanar_Hikma_Nedia_Matakuliah_Statistika)

86.25
81.25